[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

tqdm = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
ipywidgets = "*"
yapf = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"


[dev-packages]



[requires]

python_version = "3.6"
